In [1]:
import funciones as fs

# Funci√≥n 1

In [2]:
#Funci√≥n para cargar archivo .xlsx o .csv
df = fs.cargar_dataset('GINEBRA_LIMPIO.xlsx')
df

,ID ANUNCIIO,ID SCRAPE,FUENTE INFO,NOMBRE ANFITRION,FECHA INICIO ANFITRION,TIEMPO DE RESPUESTA,TASA DE RESPUESTA,TASA DE ACEPTACION,SUPERANFITRION,CANTIDAD ANUNCIOS,...,PUNTAJE CHECKIN,PUNTAJE COMUNICACION,PUNTAJE UBICACION,PUNTAJE VALOR,RESERVA INSTANTANEA,ANUNCIOS ANFITRION,ANUNCIOS HOGAR COMPLETO,ANUNCIOS HABITACION PRIVADA,ANUNCIOS HABITACION COMPARTIDA,REVIEWS POR MES
0,42515,20241229042300,city scrape,Noelle,2010-07-30,within a few hours,100.0,88%,f,1,...,4.86,4.84,4.85,4.55,f,1,0,1,0,0.49
1,203997,20241229042300,city scrape,Mike,2011-08-21,within an hour,100.0,100%,t,6,...,4.97,4.99,4.96,4.81,t,2,2,0,0,0.60
2,276025,20241229042300,city scrape,Gaby,2011-11-25,within an hour,100.0,100%,t,2,...,4.88,4.89,4.77,4.68,f,1,1,0,0,0.78
3,338682,20241229042300,city scrape,Mike,2011-08-21,within an hour,100.0,100%,t,6,...,4.90,4.89,4.87,4.70,t,2,2,0,0,0.77
4,399388,20241229042300,city scrape,Oscar,2012-03-23,within an hour,100.0,89%,t,2,...,4.95,4.89,4.70,4.70,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,1318859808229991936,20241229042300,city scrape,Alexandre,2024-12-24,NaN,NaN,100%,f,1,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,1319353272672216064,20241229042300,city scrape,Jasmine,2019-06-18,NaN,NaN,50%,f,1,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,1319753554977772032,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100.0,57%,f,2,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,1319753624300179968,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100.0,57%,f,2,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,1320187730227739904,20241229042300,city scrape,Soufiane,2015-07-03,within an hour,100.0,NaN,f,1,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [3]:
#Vemos valores nulos para pr√≥ximo ejercicio
fs.identificacion_nulos(df)

Nulos por columna: ID ANUNCIIO                         0
ID SCRAPE                           0
FUENTE INFO                         0
NOMBRE ANFITRION                    0
FECHA INICIO ANFITRION              0
TIEMPO DE RESPUESTA               742
TASA DE RESPUESTA                 742
TASA DE ACEPTACION                448
SUPERANFITRION                     31
CANTIDAD ANUNCIOS                   0
CANTIDAD TOTAL ANUNCIOS             0
LATITUD                             0
LONGITUD                            0
TIPO DE PROPIEDAD                   0
TIPO DE CUARTO                      0
CAPACIDAD                           0
BA√ëOS                             690
DORMITORIOS                       207
CAMAS                             694
AMENIDADES                          0
PRECIO                            689
NOCHES MINIMAS                      0
NOCHES MAXIMAS                      0
MINIMO NOCHES MINIMAS               0
MAXIMO NOCHES MINIMAS               0
MINIMO NOCHES MAXIMAS               0
MAXIMO NOCHES MAXIMAS               0
PROMEDIO NOCHES MINIMAS             0
PROMEDIO NOCHES MAXIMAS             0
TIENE DISPONIBILIDAD               74
DISPONIBILIDAD 30D                  0
DISPONIBILIDAD 60D                  0
DISPONIBILIDAD 90D                  0
DISPONIBILIDAD 365D                 0
CANTIDAD REVIEWS                    0
REVIEWS ULTIMOS 12M                 0
REVIEWS ULTIMOS 30D                 0
PUNTAJE RATING                    676
PUNTAJE PRECISION                 676
PUNTAJE LIMPIEZA                  676
PUNTAJE CHECKIN                   676
PUNTAJE COMUNICACION              676
PUNTAJE UBICACION                 676
PUNTAJE VALOR                     676
RESERVA INSTANTANEA                 0
ANUNCIOS ANFITRION                  0
ANUNCIOS HOGAR COMPLETO             0
ANUNCIOS HABITACION PRIVADA         0
ANUNCIOS HABITACION COMPARTIDA      0
REVIEWS POR MES                   676
dtype: int64
Nulos por dataframe: 9725

In [4]:
#Cargamos formato de archivo no v√°lido para comprobar que la funci√≥n no lo acepta y el output que seleccionamos
df1 = fs.cargar_dataset('001.json')

ValueError: Este formato no est√° soportado para esta funci√≥n: .json

# Funci√≥n 2

In [5]:
#Funci√≥n para sustituir valores nulos
df2 = fs.sustituir_valores_nulos(df)

/Users/andrecalmus/Library/CloudStorage/OneDrive-InstitutoTecnologicoydeEstudiosSuperioresdeMonterrey/Tec/Universidad Tec/7¬∞ Semestre/AnaliÃÅtica de Datos y Herraminetas de Inteligencia Artificial/Prof. Alfredo/Evaluaci√≥n/funciones.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(round(df[column].mean(), 1), inplace=True)
/Users/andrecalmus/Library/CloudStorage/OneDrive-InstitutoTecnologicoydeEstudiosSuperioresdeMonterrey/Tec/Universidad Tec/7¬∞ Semestre/AnaliÃÅtica de Datos y Herraminetas de Inteligencia Artificial/Prof. Alfredo/Evaluaci√≥n/funciones.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(99, inplace=True)
/Users/andrecalmus/Library/CloudStorage/OneDrive-InstitutoTecnologicoydeEstudiosSuperioresdeMonterrey/Tec/Universidad Tec/7¬∞ Semestre/AnaliÃÅtica de Datos y Herraminetas de Inteligencia Artificial/Prof. Alfredo/Evaluaci√≥n/funciones.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna("Este_es_un_valor_nulo", inplace=True)

# Funci√≥n 3

In [6]:
#Comprobamos que se han sustituido los valores nulos, ya no debe haber ninguno
fs.identificacion_nulos(df2)

Nulos por columna: ID ANUNCIIO                       0
ID SCRAPE                         0
FUENTE INFO                       0
NOMBRE ANFITRION                  0
FECHA INICIO ANFITRION            0
TIEMPO DE RESPUESTA               0
TASA DE RESPUESTA                 0
TASA DE ACEPTACION                0
SUPERANFITRION                    0
CANTIDAD ANUNCIOS                 0
CANTIDAD TOTAL ANUNCIOS           0
LATITUD                           0
LONGITUD                          0
TIPO DE PROPIEDAD                 0
TIPO DE CUARTO                    0
CAPACIDAD                         0
BA√ëOS                             0
DORMITORIOS                       0
CAMAS                             0
AMENIDADES                        0
PRECIO                            0
NOCHES MINIMAS                    0
NOCHES MAXIMAS                    0
MINIMO NOCHES MINIMAS             0
MAXIMO NOCHES MINIMAS             0
MINIMO NOCHES MAXIMAS             0
MAXIMO NOCHES MAXIMAS             0
PROMEDIO NOCHES MINIMAS           0
PROMEDIO NOCHES MAXIMAS           0
TIENE DISPONIBILIDAD              0
DISPONIBILIDAD 30D                0
DISPONIBILIDAD 60D                0
DISPONIBILIDAD 90D                0
DISPONIBILIDAD 365D               0
CANTIDAD REVIEWS                  0
REVIEWS ULTIMOS 12M               0
REVIEWS ULTIMOS 30D               0
PUNTAJE RATING                    0
PUNTAJE PRECISION                 0
PUNTAJE LIMPIEZA                  0
PUNTAJE CHECKIN                   0
PUNTAJE COMUNICACION              0
PUNTAJE UBICACION                 0
PUNTAJE VALOR                     0
RESERVA INSTANTANEA               0
ANUNCIOS ANFITRION                0
ANUNCIOS HOGAR COMPLETO           0
ANUNCIOS HABITACION PRIVADA       0
ANUNCIOS HABITACION COMPARTIDA    0
REVIEWS POR MES                   0
dtype: int64
Nulos por dataframe: 0

# Funci√≥n 4

In [10]:
funcion4 = fs.sustituir_atipicos(df)

Nulos por columna: ID ANUNCIIO                    0
TASA DE RESPUESTA              0
CANTIDAD ANUNCIOS              0
CANTIDAD TOTAL ANUNCIOS        0
LATITUD                        0
LONGITUD                       0
CAPACIDAD                      0
BA√ëOS                          0
DORMITORIOS                    0
CAMAS                          0
PRECIO                         0
NOCHES MINIMAS                 0
NOCHES MAXIMAS                 0
MINIMO NOCHES MINIMAS          0
MAXIMO NOCHES MINIMAS          0
MINIMO NOCHES MAXIMAS          0
MAXIMO NOCHES MAXIMAS          0
PROMEDIO NOCHES MINIMAS        0
PROMEDIO NOCHES MAXIMAS        0
DISPONIBILIDAD 30D             0
DISPONIBILIDAD 60D             0
DISPONIBILIDAD 90D             0
DISPONIBILIDAD 365D            0
CANTIDAD REVIEWS               0
REVIEWS ULTIMOS 12M            0
PUNTAJE RATING                 0
PUNTAJE PRECISION              0
PUNTAJE LIMPIEZA               0
PUNTAJE CHECKIN                0
PUNTAJE COMUNICACION           0
PUNTAJE UBICACION              0
PUNTAJE VALOR                  0
ANUNCIOS ANFITRION             0
ANUNCIOS HOGAR COMPLETO        0
ANUNCIOS HABITACION PRIVADA    0
REVIEWS POR MES                0
dtype: int64
Nulos por dataframe: 0
None

/Users/andrecalmus/Library/CloudStorage/OneDrive-InstitutoTecnologicoydeEstudiosSuperioresdeMonterrey/Tec/Universidad Tec/7¬∞ Semestre/AnaliÃÅtica de Datos y Herraminetas de Inteligencia Artificial/Prof. Alfredo/Evaluaci√≥n/calmus.py:42: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas_con_nulos.fillna(method='ffill')